In [1]:
#bring in the prerequisites

import pandas as pd
import glob
import json
import numpy as np
import pandas as pd

In [2]:
# identify the folder where the files are -- this will be done once per team, aligning the team folder name to the column we will create
files = glob.glob('raw_tweets/pride_reds/*')
#files = glob.glob('user/*')
len(files)

194

In [3]:
#make a list to hold the files we are going to read
#then read the files into a dictionary

dictlist = []

for file in files:
    json_string = open(file, 'r').read()
    json_dict = json.loads(json_string)
    dictlist.append(json_dict)

In [4]:
#create a dataframe from the dictionary
df = pd.DataFrame(dictlist)
df.head()

,ID,datetime,has_media,is_reply,is_retweet,medias,nbr_favorite,nbr_reply,nbr_retweet,text,url,user_id,usernameTweet
0,1005133080099684352,2018-06-08 13:02:55,NaN,False,False,NaN,0,0,0,@ Reds Are having LGBTQ night tonight. Is p...,/King_of_Goodnes/status/1005133080099684352,3131123405,King_of_Goodnes
1,1005944295810129922,2018-06-10 18:46:24,NaN,True,False,NaN,1,1,0,BS...everyone should invited to Reds games. Sc...,/VirgilNighthawk/status/1005944295810129922,252166086,VirgilNighthawk
2,1010232478487994368,2018-06-22 14:46:06,NaN,False,False,NaN,0,0,0,Thanks to my friends the #cincinnati @reds f...,/Theredstick/status/1010232478487994368,29386925,Theredstick
3,1028728349533908997,2018-08-12 15:42:06,NaN,True,False,NaN,1,1,0,"Well, that’s great! My big noggin generally is...",/The_Vole/status/1028728349533908997,20803522,The_Vole
4,1052907672872333312,2018-10-18 09:02:05,NaN,False,False,NaN,379,12,82,The Reds join MLB in going purple today in hon...,/Reds/status/1052907672872333312,35006336,Reds

In [5]:
#create the new column and give all rows the same value-- this is how we will keep track of the team names
df['team'] = "reds"
df.head()

,ID,datetime,has_media,is_reply,is_retweet,medias,nbr_favorite,nbr_reply,nbr_retweet,text,url,user_id,usernameTweet,team
0,1005133080099684352,2018-06-08 13:02:55,NaN,False,False,NaN,0,0,0,@ Reds Are having LGBTQ night tonight. Is p...,/King_of_Goodnes/status/1005133080099684352,3131123405,King_of_Goodnes,reds
1,1005944295810129922,2018-06-10 18:46:24,NaN,True,False,NaN,1,1,0,BS...everyone should invited to Reds games. Sc...,/VirgilNighthawk/status/1005944295810129922,252166086,VirgilNighthawk,reds
2,1010232478487994368,2018-06-22 14:46:06,NaN,False,False,NaN,0,0,0,Thanks to my friends the #cincinnati @reds f...,/Theredstick/status/1010232478487994368,29386925,Theredstick,reds
3,1028728349533908997,2018-08-12 15:42:06,NaN,True,False,NaN,1,1,0,"Well, that’s great! My big noggin generally is...",/The_Vole/status/1028728349533908997,20803522,The_Vole,reds
4,1052907672872333312,2018-10-18 09:02:05,NaN,False,False,NaN,379,12,82,The Reds join MLB in going purple today in hon...,/Reds/status/1052907672872333312,35006336,Reds,reds

In [6]:
#dump it to a csv so we can use it later

df.to_csv('basic_csv/reds_tweets.csv', index=True)